{% extends '::admin-base.html.twig' %}

{% block body -%}
    <h1>Dog edit</h1>

    {{ form_start(edit_form) }}
      {{ form_widget(edit_form) }}
      <input type="submit" value="Update" />
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_dogs_index') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
