{% extends '::admin-base.html.twig' %}

{% block section_title %}Perros en adopción{% endblock %}

{% block body -%}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Sex</th>
          <th>Birthday</th>
          <th>Joindate</th>
          <th>Sterilized</th>
          <th>Godfather</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for dog in dogs %}
          <tr>
            <td><a href="{{ path('admin_dogs_show', { 'id': dog.id }) }}">{{ dog.id }}</a></td>
            <td>{{ dog.name }}</td>
            <td>{{ dog.sex }}</td>
            <td>{% if dog.birthday %}{{ dog.birthday|date('d/m/Y') }}{% endif %}</td>
            <td>{% if dog.joinDate %}{{ dog.joinDate|date('d/m/Y') }}{% endif %}</td>
            <td>{{ dog.sterilized }}</td>
            <td>{{ dog.godfather }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  <a href="{{ path('dog_in_adoption', { 'id': dog.id }) }}">Ver</a>
                </li>
                <li>
                  <a href="{{ path('admin_dogs_edit', { 'id': dog.id }) }}">Editar</a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
