{% extends '::admin-base.html.twig' %}

{% block body -%}
    <h1>Dog</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dog.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dog.name }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ dog.sex }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ dog.birthday|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Joindate</th>
                <td>{{ dog.joinDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Sterilized</th>
                <td>{{ dog.sterilized }}</td>
            </tr>
            <tr>
                <th>Godfather</th>
                <td>{{ dog.godfather }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ dog.size }}</td>
            </tr>
        </tbody>
    </table>

    {% if dog.health %}
      <div class="health" style="margin-bottom: 10px;">
        <h3>Health</h3>
        {{ dog.health | raw }}
      </div>
    {% endif %}

    {% if dog.description %}
      <div class="description" style="margin-bottom: 10px;">
        <h3>Description</h3>
        {{ dog.description | raw }}
      </div>
    {% endif %}

    {% if dog.images is not empty %}
      <section id="images">
        <header>
          <h2>Imágenes ({{ dog.images|length }})</h2>
        </header>
        <div class="row">
          {% for image in dog.images %}
            <div class="col-lg-4 col-md-6">
              <img src="{{ image.webPath }}" class="img-thumbnail">
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    <ul class="record_actions">
      <li>
          <a href="{{ path('admin_dogs_index') }}">
              Back to the list
          </a>
      </li>
      <li>
          <a href="{{ path('admin_dogs_edit', { 'id': dog.id }) }}">
              Edit
          </a>
      </li>
      <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
