{% extends "base.html.twig" %}

{% set body_class = 'page--index' %}

{% set filter_form_header %}
  <header class=header>
    <h2>Buscador de animales</h2>
  </header>
{% endset %}

{% block body %}
  <section class=section--index>
    <div class=jumbotron itemscope itemtype=http://schema.org/Organization>
      <div class="l__wrapper">
        <h1 itemprop=name>Ribercan</h1>
        <p class=lead>Sociedad Protectora de Animales de La Ribera<br><span itemprop=address itemscope itemtype=http://schema.org/PostalAddress><a href="https://goo.gl/maps/CMBE1TKfhr42" itemprop=addressLocality>Carcaixent, España</a> · <a href="mailto:adopciones@ribercan.org" class=email itemprop=email>adopciones@ribercan.org</a></span></p>
        <p><span class=msg--alert>No recogemos perros.</span></p>
        <p><span class=tlf itemprop=telephone>654 561 572</span> <span class=tlf itemprop=telephone>645 754 224</span></p>
        <p><span class=bank-account itemprop=bank-account>ES750182-0552-29-0201540080</span></p>
        {% include '_social.html.twig' %}
      </div>
      <!-- "l__wrapper" -->
    </div>
    <div class="l__row">
      <div class="l__wrapper">
        <div class=main>
          <div class=featured>
            {{ include('RibercanDogBundle:Dog:filter.html.twig', { 'form': filterForm }) }}
            <div class="urgent">
              {{ include('RibercanDogBundle:Dog:urgent_adoptions.html.twig', { 'dogs': urgent_adoptions }) }}
            </div>
            <!-- .urgent -->
          </div>
          <!-- featured -->
          <div class=news>
            <header>
              <h2>Noticias</h2>
            </header>
            <div class=main>
              <ul class=list--news>
                {% for announcement in news %}
                  <li>
                    <article>
                      <p class="date"><time>{{ announcement.publishedAt|date('d/m/Y') }}</time></p>
                      <a href="{{ path('announcement', { id: announcement.id }) }}">
                        {% if announcement.image %}
                          <img src="{{ announcement.image.webPath }}" alt="{{ announcement.image.name }}" width="120" height="120" />
                        {% else %}
                          <img src="/images/logo__big.jpg" alt="default image" width="120" height="120" />
                        {% endif %}
                      </a>
                      <h3><a href="{{ path('announcement', { id: announcement.id }) }}">{{ announcement.title }}</a></h3>
                      <p>{{ announcement.summary }}</p>
                    </article>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <!-- .main -->
          </div>
          <!-- news -->
        </div>
        <!-- .main -->
      </div>
      <!-- .wrapper -->
    </div>
    <!-- ."l__row" -->
  </section>
  <!-- section--index -->
{% endblock %}
