{% extends '::admin-base.html.twig' %}

{% block body %}
    <h1>Imágenes de "{{ dog.name }}"</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ruta</th>
                <th>Imágen principal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('dog_images_show', { 'dog_id': dog.id, 'id': image.id }) }}">{{ image.id }}</a></td>
                <td>{{ image.name }}</td>
                <td><a href="/{{ image.webPath }}">{{ image.path }}</a></td>
                <td>{% if image.firstImage %}Sí{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dog_images_show', { 'dog_id': dog.id, 'id': image.id }) }}">Ver</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dog_images_new', { 'dog_id': dog.id }) }}">Añadir nuevas imágenes</a>

{% endblock %}
