{% extends '::admin-base.html.twig' %}

{% block section_title %}Imágenes de "{{ dog.name }}"{% endblock %}

{% block body %}
    <table class="table table--images">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ruta</th>
                <th>Imágen principal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="path('admin_dog_images_show', { 'dog_id': dog.id, 'id': image.id })">{{ image.id }}</a></td>
                <td>{{ image.name }}</td>
                <td><a href="{{ image.webPath }}">{{ image.path }}</a></td>
                <td>{% if image.firstImage %}Sí{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        {% if image.firstImage == false %}
                            <li>
                                <a href="{{ path('admin_dog_images_mark_as_cover', { 'dog_id': dog.id, 'id': image.id }) }}">Poner como foto de perfil</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form(image_form) }}

{% endblock %}
