<article class="animal">
  <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
    <figure class="pic">
      <img src="{{ dog.mainImage }}">
    </figure>
    <div class="main">
      <p class="name" data-title="Nombre">
        {{ dog.sex|raw }} {{ dog.name }}
      </p>
      <ul class="metadata">
        <li class="age" data-title="Edad">{{ dog.age }}</li>
        <li class="size" data-title="Tamaño">{{ dog.size }}</li>
        <li class="sterilized" data-title="Esterilizado">
          {{ dog.isSterilized ? 'X' : '' }}
        </li>
      </ul>
    </div>
  </a>
</article>
