{% extends "base.html.twig" %}

{% block body %}
<section class="section--animal" id="dog">
  <header class="animal-hero">
    <img src="http://www.ribercan.org/animales/1279/IMGP5778.JPG">
  </header>
  <div class="main">
    <div class="animal-adopt">
      <h1 class="name">{{ dog.sex|raw }} {{ dog.name }}</h1>
      <p>
        <a href="#" class="btn btn-primary" role="button">Adóptame</a> <a href="#" class="btn btn-default" role="button">Apadríname</a>
      </p>
    </div><!-- .animal-adopt -->
    <p class="animal-entry">Entrada en la protectora <time>{{ dog.joinDate }}</time></p>
    <ul class="List--metadata">
      <li class="ListItem"><time>{{ dog.birthday }}</time></li>
      <li class="ListItem">{{ dog.size }}</li>
      <li class="ListItem">{{ dog.sterilized }}</li>
      {% if dog.godfather %}<li class="ListItem">Apadrinado por {{ dog.godfather }}</li>{% endif %}
    </ul>
    <iframe width="560" height="315" src="{{ dog.video }}" frameborder="0" allowfullscreen></iframe>
    <p>{{ dog.description }}</p>
    <ul class="List--thumbs">
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/1069314_10153346751365392_1652044460_n.jpg&amp;w=150">
      </li>
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/IMGP5811.JPG&amp;w=150">
      </li>
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/IMGP5808.JPG&amp;w=150">
      </li>
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/IMGP5812.JPG&amp;w=150">
      </li>
    </ul>
  </div><!-- .main -->
  <div class="urgent">
    <div class="l__wrapper">
      {{ include('RibercanDogBundle:Dog:urgent_adoptions.html.twig', { 'dogs': urgent_adoptions }) }}
    </div>
  </div>
  <!-- .urgent -->
</section>
{% endblock %}
