{% extends "base.html.twig" %}

{% block body %}
<section class="section--animal" id="dog">
  <header class="animal-hero">
    <img src="http://www.ribercan.org/animales/1279/IMGP5778.JPG">
  </header>
  <div class="main">
    <div class="animal-adopt">
      <h1 class="name">{{ dog.sex|raw }} {{ dog.name }}</h1>
      <p>
        <a href="#" class="btn btn-primary" role="button">Adóptame</a> <a href="#" class="btn btn-default" role="button">Apadríname</a>
      </p>
    </div><!-- .animal-adopt -->
    <p class="animal-entry">Entrada en la protectora <time>{{ dog.joinDate }}</time></p>
    <ul class="List--metadata">
      <li class="ListItem"><time>{{ dog.birthday }}</time></li>
      <li class="ListItem">{{ dog.size }}</li>
      <li class="ListItem">{{ dog.sterilized }}</li>
      {% if dog.godfather %}<li class="ListItem">Apadrinado por {{ dog.godfather }}</li>{% endif %}
    </ul>
    <p>{{ dog.description }}</p>
    <ul class="List--thumbs">
      {% if dog.video %}
        <li class="ListItem">
          <a href="{{ dog.video}}" id="show-video">
            <img src="/images/youtube.png" alt="Ver Vídeo en YouTube">
          </a>
        </li>
      {% endif %}
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/1069314_10153346751365392_1652044460_n.jpg&amp;w=150">
      </li>
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/IMGP5811.JPG&amp;w=150">
      </li>
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/IMGP5808.JPG&amp;w=150">
      </li>
      <li class="ListItem">
        <img src="http://www.ribercan.org/timthumb.php?src=animales/1279/IMGP5812.JPG&amp;w=150">
      </li>
    </ul>
    {% if dog.video %}
      <dialog id="video">
        <iframe width="640" height="360" src="{{ dog.video }}" frameborder="0" allowfullscreen></iframe>
        <p>
          <a href=# class="btn btn-primary" role="button">Adóptame</a>
          <a href=# class="btn btn-default" role="button">Apadríname</a>
          <a href="#close" id="close-video" class="btn btn-red" role="button">Cerrar</a>
        </p>
      </dialog>
    {% endif %}
  </div><!-- .main -->
  <div class="urgent">
    <div class="l__wrapper">
      {{ include('RibercanDogBundle:Dog:urgent_adoptions.html.twig', { 'dogs': urgent_adoptions }) }}
    </div>
  </div>
  <!-- .urgent -->
</section>
{% endblock %}

{% block header_javascripts %}
<script src="/js/dialog-polyfill.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/dialog-polyfill.css" />
{% endblock %}

{% block javascripts %}
<script>
  var dialog = document.querySelector('dialog#video');
  dialogPolyfill.registerDialog(dialog);

  document.querySelector('#show-video').addEventListener('click', function(event) {
    event.preventDefault();
    dialog.showModal();
  });

  document.querySelector('#close-video').onclick = function() {
    dialog.close();
  };
</script>
{% endblock %}
