{% extends "base.html.twig" %}

{% block body %}
<section class="section--animal" id="dog" style="background: url('/{{ dog.mainImage }}') no-repeat; background-size: contain;">
  <header class="animal-hero"></header>
  <div class="main">
    <div class="animal-adopt">
      <h1 class="name">{{ dog.sex|raw }} {{ dog.name }}</h1>
      <p>
        <a href="https://vibaiher.typeform.com/to/HAK5Rf" class="btn btn-primary typeform-share" role="button" data-mode="1" target="_blank">Adóptame</a> <a href="https://vibaiher.typeform.com/to/xQDq0d" class="btn btn-default typeform-share" role="button" data-mode="1" target="_blank">Apadríname</a>
      </p>
    </div><!-- .animal-adopt -->
    <p class="animal-entry">Entrada en la protectora <time>{{ dog.joinDate }}</time></p>
    <ul class="List--metadata">
      <li class="ListItem"><b>Edad:</b> <time>{{ dog.age }}</time></li>
      <li class="ListItem"><b>Tamaño:</b> {{ dog.size }}</li>
      <li class="ListItem"><b>Salud:</b> {{ dog.sterilized }}</li>
      {% if dog.godfather %}
        <li class="ListItem">Apadrinado por {{ dog.godfather }}</li>
      {% endif %}
    </ul>
    <div class="description">
      {{ dog.description | raw }}
    </div>
    {% if dog.video or dog.images is not empty %}
      <ul class="List--thumbs" id="dog-gallery">
        {% if dog.video %}
          <li class="ListItem">
            <img src="{{ dog.videoThumbnail }}" class="videoThumbnail" alt="Ver Vídeo en YouTube">
            <a href="{{ dog.videoUrl }}" class="play" id="show-video" type="text/html" data-youtube="{{ dog.videoId }}" data-gallery></a>
          </li>
        {% endif %}
        {% for image in dog.images %}
          <li class="ListItem">
            <a href="/{{ image.webPath }}">
              <img src="/{{ image.webPath }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div><!-- .main -->
  <div class="urgent">
    <div class="l__wrapper">
      {{ include('RibercanDogBundle:Dog:urgent_adoptions.html.twig', { 'dogs': urgent_adoptions }) }}
    </div>
  </div>
  <!-- .urgent -->
</section>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
{% endblock %}

{% block header_javascripts %}
  <script src="/assets/vendor/Gallery/js/blueimp-gallery.min.js"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/assets/vendor/Gallery/css/blueimp-gallery.min.css">
{% endblock %}

{% block javascripts %}
  <script>
    document.getElementById('dog-gallery').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event }
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
  </script>
  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
{% endblock %}
