<article class="animaladoptable">
  <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
    <img src="http://www.ribercan.org/timthumb.php?src=animales/776/cynthia.jpg" alt="..." width="60" height="60">
  </a>
  <div class="caption">
    <h3 class="name">
      <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
        {{ dog.sex ? '<span class="female">♀</span>' : '<span class="male">♂</span>' }} {{ dog.name }}
      </a>
    </h3>
    <p><time>{{ dog.birthday.format("d/m/Y") }}</time></p>
    <ul class="takeAction">
      <li><a href=# class="btn btn-primary" role="button">Adóptame</a></li>
      <li><a href=# class="btn btn-default" role="button">Apadríname</a></li>
    </ul>
  </div>
</article>
