<article class="animaladoptable">
  <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
    <img src="/{{ dog.mainImage }}" alt="..." width="60" height="60">
  </a>
  <div class="caption">
    <h3 class="name">
      <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
        {{ dog.sex ? '<span class="female">♀</span>' : '<span class="male">♂</span>' }} {{ dog.name }}
      </a>
    </h3>
    <p><time>{{ dog.age }}</time></p>
    <ul class="takeAction">
      <li>
        <a href="https://vibaiher.typeform.com/to/HAK5Rf" class="btn btn-primary typeform-share" role="button" data-mode="1" target="_blank">
          Adóptame
        </a>
      </li>
      <li>
        <a href="https://vibaiher.typeform.com/to/xQDq0d" class="btn btn-default typeform-share" role="button" data-mode="1" target="_blank">
          Apadríname
        </a>
      </li>
    </ul>
  </div>
</article>
