{% from "typeform.html.twig" import typeform_without_style %}

<article class="animaladoptable">
  <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
    <img src="{{ dog.mainImage }}" alt="..." width="60" height="60">
  </a>
  <div class="caption">
    <h3 class="name">
      <a href="{{ path('dog_in_adoption', { id: dog.id }) }}">
        {{ dog.sex ? '<span class="female">♀</span>' : '<span class="male">♂</span>' }} {{ dog.name }}
      </a>
    </h3>
    <p><time>{{ dog.age }}</time></p>
    <ul class="takeAction">
      <li>
        {{ typeform_without_style('Adóptame', 'https://ribercan.typeform.com/to/HAK5Rf', 'btn btn-primary') }}
        <a href="{{ path('ribercan_how_to_help_adopt') }}"><i class="icon icon-info">Más info.</i></a>
      </li>
      <li>
        {{ typeform_without_style('Apadríname', 'https://ribercan.typeform.com/to/xQDq0d', 'btn btn-default') }}
        <a href="{{ path('ribercan_how_to_help_godfather') }}"><i class="icon icon-info">Más info.</i></a>
      </li>
    </ul>
  </div>
</article>
