{% extends '::admin-base.html.twig' %}

{% block section_title %}Eventos{% endblock %}

{% block body -%}
  <div class="actions">
    <ul class="list-inline">
      <li>
        <a href="{{ path('admin_event_new') }}" class="btn btn-primary">Añadir un evento</a>
      </li>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Published at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
            <td>{{ event.title }}</td>
            <td>{{ event.publishedAt|date('d/m/Y') }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  <a href="{{ path('event', { 'id': event.id }) }}">Ver</a>
                </li>
                <li>
                  <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">Editar</a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
