{% extends '::admin-base.html.twig' %}

{% block section_title %}Productos{% endblock %}

{% block body -%}
  <div class="actions">
    <ul class="list-inline">
      <li>
        <a href="{{ path('admin_product_new') }}" class="btn btn-primary">Añadir un producto</a>
      </li>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Price</th>
          <th>Available</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.available }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  <a href="{{ path('announcement', { 'id': product.id }) }}">Ver</a>
                </li>
                <li>
                  <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">Editar</a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
